<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="row" *ngIf="!loading">
  <div class="col-12">
    <button mat-flat-button color="accent" (click)="add()">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let quiz of quizzes" >
        <mat-card>
          <img mat-card-image [src]="quiz.image">
          <mat-card-content>{{quiz.name}}</mat-card-content>
          <mat-card-content>type: {{quiz.type}}</mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-footer>
            <button mat-icon-button [routerLink]="['/maker/quiz', quiz.id]">
              <mat-icon>
                visibility
              </mat-icon>
            </button>
            <button mat-icon-button (click)="edit(quiz.id)">
              <mat-icon>
                create
              </mat-icon>
            </button>
            <button mat-icon-button (click)="copy(quiz.slug)">
              <mat-icon>
                share
              </mat-icon>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
