<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label style="display: flex; align-items: center;">
        <mat-icon>
          person
        </mat-icon>
        <span style="margin-left: 0.5rem;">
          username
        </span>
      </mat-label>
      <input matInput type="text" name="username" id="username" formControlName="email">
    </mat-form-field>
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label style="display: flex; align-items: center;">
        <mat-icon>
          vpn_key
        </mat-icon>
        <span style="margin-left: 0.5rem;">
          password
        </span>
      </mat-label>
      <input matInput type="password" name="password" id="password" formControlName="password" autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="dialogRef.close()" [disabled]="logging">cancel</button>
  <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid || logging" (click)="login()">
    login
  </button>
</div>
