<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="row" *ngIf="!loading && !selected.stat">
  <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
    <h2>which one do you like? select it!</h2>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" [@card]="card2selected ? 'fade': 'ok'">
    <app-quiz-card [data]="data[card1]" (selected)="card1select()"></app-quiz-card>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" [@card]="card1selected ? 'fade': 'ok'">
    <app-quiz-card [data]="data[card2]" (selected)="card2select()"></app-quiz-card>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-12" *ngIf="selected.stat">
    <h2>winner is:</h2>
  </div>
  <div class="col-12" [@winner]="selected.stat ? 'show' : 'hide'">
    <app-quiz-card [data]="data[selected.index]" [button]="false"></app-quiz-card>
  </div>
</div>
