<div mat-dialog-content>
  <div *ngIf="email">
    Username already taken
  </div>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label style="display: flex; align-items: center;">
        <mat-icon>
          person
        </mat-icon>
        <span style="margin-left: 0.5rem;">
          name
        </span>
      </mat-label>
      <input matInput type="text" name="name" id="name" formControlName="name">
    </mat-form-field>
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label style="display: flex; align-items: center;">
        <mat-icon>
          person
        </mat-icon>
        <span style="margin-left: 0.5rem;">
          username
        </span>
      </mat-label>
      <input matInput type="text" name="username" id="username" formControlName="email">
    </mat-form-field>
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label style="display: flex; align-items: center;">
        <mat-icon>
          vpn_key
        </mat-icon>
        <span style="margin-left: 0.5rem;">
          password
        </span>
      </mat-label>
      <input matInput type="password" name="password" id="password" formControlName="password" autocomplete>
      <mat-error *ngIf="password.touched && password.hasError('minlength')">
        Your password should be 8 or more character
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="dialogRef.close()" [disabled]="registering">cancel</button>
  <button mat-raised-button color="accent" [disabled]="form.invalid || registering" (click)="register()">register</button>
</div>
