<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="row" *ngIf="!loading">
  <div class="col-12">
    <button mat-flat-button color="accent" (click)="add()">
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let quiz of infos" >
    <mat-card>
      <img mat-card-image [src]="quiz.picture_url">
      <mat-card-content>{{quiz.name}}</mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <button mat-icon-button (click)="remove(quiz.id)">
          <mat-icon>
            delete_outline
          </mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
