<mat-card>
  <mat-card-title>{{data['name']}}</mat-card-title>
  <button mat-raised-button color="accent" (click)="select()" *ngIf="button">select</button>
  <img [src]="data['picture_url']" alt="" mat-card-image>
</mat-card>
