<div mat-dialog-title>{{data['type']}} quiz</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%">
      <mat-label>name</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>type</mat-label>
      <mat-select formControlName="type">
        <mat-option (select)="type.value === 'private'" value="private">private</mat-option>
        <mat-option (select)="type.value === 'public'" value="public">public</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>image url</mat-label>
      <textarea matInput formControlName="image" rows="8"></textarea>
    </mat-form-field>
  </form>
  <div class="row">
    <h3 class="col-12">preview :</h3>
    <div class="col-12">
      <mat-card>
        <img mat-card-image [src]="image.value">
        <mat-card-content>{{name.value}}</mat-card-content>
        <mat-card-content>type: {{type.value}}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="dialogRef.close()" [disabled]="sending">cancel</button>
  <button mat-raised-button color="accent" (click)="save()" [disabled]="form.invalid || sending">save</button>
</div>
