<mat-toolbar>
  <span>championship quiz</span>
  <button mat-icon-button
          matTooltip="home"
          routerLink="/"
          class="margin-left">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button
          matTooltip="dashboard"
          routerLink="/maker"
          *ngIf="authService.isLogin()">
    <mat-icon>
      dashboard
    </mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/maker" *ngIf="authService.isLogin()">
      <mat-icon>
        dashboard
      </mat-icon>
      <span>
        go to dashboard
      </span>
    </button>
    <button mat-menu-item *ngIf="authService.isLogin()" (click)="authService.logout()">
      <mat-icon class="rotate-180">
        login
      </mat-icon>
      <span>
        logout
      </span>
    </button>
    <button mat-menu-item *ngIf="!authService.isLogin()" (click)="login()">
      <mat-icon>
        login
      </mat-icon>
      <span>
        login
      </span>
    </button>
    <button mat-menu-item *ngIf="!authService.isLogin()" (click)="register()">
      <mat-icon>
        how_to_reg
      </mat-icon>
      <span>
        register
      </span>
    </button>
  </mat-menu>
</mat-toolbar>
<div style="padding: 1rem;">
  <router-outlet></router-outlet>
</div>

