<div class="row" style="display: flex; align-items: center; justify-content: center;">
  <h1>
    <span>championship quiz</span>
  </h1>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="row" *ngIf="!loading">
  <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let quiz of data" >
    <mat-card>
      <img mat-card-image [src]="quiz.image">
      <mat-card-content>{{quiz.name}}</mat-card-content>
      <mat-card-content>from: {{quiz.user.name}}</mat-card-content>
      <mat-card-footer>
        <button mat-raised-button color="accent" [routerLink]="['/quiz', quiz.slug]">
          start
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div class="row" style="display: flex; align-items: center; justify-content: center;" *ngIf="!authService.isLogin()">
  <h1>
    <span>cant find quiz you want ? 😕️</span>
  </h1>
</div>
<div class="row" style="display: flex; align-items: center; justify-content: center;" *ngIf="!authService.isLogin()">
  <button mat-raised-button (click)="register()">
    <h2>create an account</h2>
  </button>
  <h2>
    <span> and make your own quiz</span>
  </h2>
</div>
